//------------------------------------------
//Neutrals
$white: #F1F1F2;
$white-90: #DBDBDD;
$white-75: #BAB9BE;
$white-50: #82828A;
$white-25: #4B4A57;
$white-10: #2A2938;
$white-5: #1F1E2D;

//Backgound
$bg-dark: #141323;
$bg-middle: #1B1A2E;
$bg-light: #24223A;

//Primary
$primary: #5B58EB;

//Additional
$red: #E35959;
$green: #59e372;

//Gradients

//SVG
$white-25-svg: brightness(0) invert(29%) sepia(14%) saturate(467%) hue-rotate(205deg) brightness(90%) contrast(88%);

