//Reset
@import "reset";
//--------------------
//Colors
@import "colors";
//--------------------
//Typography
@import "typography";
//--------------------
//Forms
@import "forms";
//--------------------
//Buttons
@import "buttons";
//--------------------

//Styles
html {
  height: 100%;
}
body {
  display: flex;
  padding: 3em 1em ;
  align-items: center;
  justify-content: center;
  background-color: $bg-dark;
  color: $white;
  @include body-1;
  overflow-x: hidden;
  a, button{
    color: $white;
  }
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.no-data{
  color: $white-75;
  @include body-2;
  margin-bottom: 1em;
}

.error-page{
  padding: 2em 3em;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.error-name{
  display: flex;
  margin-bottom: .5em;
  img{
    margin-right: .5em;
  }
  h3{
    @include semibold;
    margin: 0;
  }
}

.error-text{
  @include body-2;
  color: $white-90;
  margin-bottom: 1.5em;
}

.error-button{
  @include button-2;
}

h3{
  margin-bottom: 1em;
  text-align: center;
  font-weight: 600;
}

.menu-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-form-button{
  @include body-2;  
  text-align: center;
  margin-bottom: 1.25em;
  min-width: 15em;
  border-color: $white-50 !important;
  color: $white-75 !important;
  width: 100%;

  &:hover, &:active{
    background-color: rgba($color: $white-5, $alpha: .60);
  }
}

.menu-form-back-button{
  @include button-1;
  width: 100%;
  text-align: center;
  margin-top: .5em;
  padding: 8px 24px;
  margin-bottom: 1em;
}
.view{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  @include body-3;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $white-75;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid $white-75;
}

table th{
  font-weight: 600;
}

table tr{
  color: $white-75;
}

table tbody tr:nth-child(even) {
  background-color: rgba($color: $white-5, $alpha: .5);
}

table{
  margin-bottom: 2em;
}

.procedure{
  display: flex;
  flex-direction: column;
}

.add-procedure, .remove-procedure{
  text-align: left;
  @include button-2;
  margin: -1em 0 0 0;
}

.remove-procedure{
  color: rgba($color: $primary, $alpha: .75);
  margin-bottom: .5em;
  &:hover, &:active{
    color: $primary;
  }
}

.add-procedure{
  color: $white-75;
  &:hover, &:active{
    color: $white-90;
  }
}

.back-to-main-menu{
  @include link-2;
  color: $white-50;
  text-decoration: underline;
}